.row-fluid .span2{margin:10px 24px;}
.figure{
	height:250px;
}
.photo{height:150px;text-align:center;}
.figcaption{text-align:center;height:100px;}
h5{padding:0;margin:0;}
@media (min-width: 980px){
	#container{padding-top:50px;}
}
@media (min-width: 768px) and (max-width: 979px){
	#container{padding-top:0px;}
}