#flist{
	font-size:14px;
	text-align:center;
	margin-bottom:20px;
}
#clist{
	font-size:13px;
	margin-bottom:40px;
}
#flist .row-fluid{
	padding-bottom:25px;
}
#flist {
	font-size:13px;
}
#flist img,#clist img{
	max-width:37px;
	max-height:37px;
}
#clist ul{
	margin-left:5px;
}
#clist ul li{
	list-style-type:none;
	border-bottom:1px solid #EFEFEF;
	margin-bottom:20px;
	padding-bottom:5px;
}
#flist a,#clist a{
	color:#656360;
}
#flist a:hover,#clist a:hover{
	color:#cb5432;
	text-decoration:none;
}
#league_name{
	list-style: none;
	text-align:left;
	margin-left: 0px;
}
#league_name li{
	border-bottom: 1px solid #ddd;
	line-height: 35px;
}

	

	
	