<!--[if lte IE 6]>
	<!-- bsie css 补丁文件 -->
	<!--<link rel="stylesheet" type="text/css" href="__Public__/Css/bootstrap3/bootstrap-ie6.css">-->

	<!-- bsie 额外的 css 补丁文件 -->
	<!--<link rel="stylesheet" type="text/css" href="__Public__/Css/bootstrap3/ie.css">-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="__Public__/Js/bootstrap3/html5shiv.js"></script>
	<script src="__Public__/Js/bootstrap3/respond.min.js"></script>
	<![endif]-->
	<!-- JS -->

	<!--[if IE 8]>
	<style type="text/css">
		#navbar{position: static;}
		.container{width:1170px;}
		.span2 {width: 170px;}
		.span10 {width: 970px;}
		#filter-buttons{width: 170px;}
		#ceright{padding-top:10px;}
		#celeft{padding-top:10px;}
	</style>
	<![endif]-->
	<!--[if lt IE 8]>
	<style type="text/css">
		#navbar{position: static;}
		.container{width:1170px;}
		.span2 {width: 170px;}
		.span10 {width: 970px;}
		#filter-buttons{width: 170px;}
		#ceright{padding-top:10px;}
		#celeft{padding-top:10px;}
	</style>
	<![endif]-->